body{
    margin: 0;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(81, 77, 101);
}

input {
    width: 100%;
   
    border: none;
    border-radius: 2px;
    outline: transparent;

    margin-top: 16px;
    padding-left: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0px;
    margin-bottom: 16px;

    font-size: 14px;
    line-height: 1.43;
}

.search-btn {
    position: absolute;
    right: -15px;
        top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
}

.search-icon {
    fill: #333;
    width: 20px;
    height: 20px;
}

.wrap-input {
    position: relative;
}



// input[name="searchQuery"] {
//     padding-right: 30px;
// }