// .hidden {
//     display: none;
//     visibility: hidden;
//     opacity: 0;
// }

.load-more {
    font-size: 14px;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 250ms linear;
}

.load-more {
    display: block;
    margin: 0 auto;
}

.load-more.is-hidden {
    display: none;
}