// .hidden {
//     display: none;
//     visibility: hidden;
//     opacity: 0;
// }

.load-more {
    display: block;

    font-size: 14px;
    padding: 10px 20px;
    background-color:rgb(81, 77, 101);
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;

    margin-left: 10px;
    margin-bottom: 20px;
    margin: 20 auto;

    transition: background-color 250ms linear;
}

.load-more.is-hidden {
    display: none;
}